<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <title><%=@title%></title>

  </head>
  <nav>
    <a href="/">homepage</a>
    <a href="/chinese">Chinese Food</a>
    <a href="/italian">Italian Food</a>
    <a href="/turkish">Turkish Food</a>
    <a href="/mexican">Mexican Food</a>
    <a href="/polish">Polish Food</a>

  </nav>
  <body>
<h1> Italian food taste so good </h1>
<style>
  nav{
    text-align: center;
    background-color: white;

  }
  body{

    background-color: yellow;
  }
  h1{
    background-color: white;
    text-align: center;
    text-decoration: underline;

  }
  </style>
  </body>
</html>
